@import "tailwindcss";
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto.ttf");
}

* {
  font-family: Roboto;
}

body {
  background-color: #000214;
  margin: 0;
  padding-top: 50px;
  color: white;
}
